*{
  margin: 0px;
  padding: 0px;
}

:root{
  /*Variáveis para cores:*/
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

header{
  height: 70px;
  background-color: var(--destaque);
}

header nav a{
  text-decoration: none;
  color: var(--texto-inverso);
}