*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  /*Variáveis para cores:*/
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

body{
  background-color: var(--fundo-principal);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  padding: 10px;
  background-color: var(--destaque);
}

#menu ul{
  gap: 10px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-content: center;
}

#menu ul a{
  font-size: 1.2em;
  padding: 12px 5px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  color: var(--texto-inverso);
}

#menu ul a:hover{
  transition: background-color 0.7s, color 0.7s;
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

#ficha{
  width: 90vw;
  margin: auto;
  padding: 10px;
  border-radius: 0px 0px 15px 15px  ;
  text-align: center;
  background-color: var(--fundo-card);
}

#ficha img{
  padding: 5px;
  width: 200px;
  height: 200px;
  border: 4px solid var(--destaque);
  border-radius: 100%;
}

h2{
  padding: 10px;
  text-align: start;
  color: var(--destaque);
}

#ficha p{
  padding: 10px;
  text-align: start;
}

#redes a{
  font-size: 1.5em;
  color: var(--destaque);
}

#apresentação{
  width: 90vw;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--fundo-card);
}

#video{
  margin: auto;
  width: 85vw;
}

#video video{
  width: 100%;
  height: 100%;
}

#skills{
  width: 90vw;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--fundo-card);
}

.barra progress{
  width: 98%;
  height: 22px;
}

.txt{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.txt h4{
  color: var(--destaque);
}

#formação{
  width: 90vw;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--fundo-card);
}

.cursos{
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  text-align: start;
  border-radius: 20px;
  flex-direction: column;
  background-color: lightgray;
  border-left: 6px solid var(--destaque);
}

.cursos:hover{
  transition: .5s;
  background-color: rgb(201, 195, 195);
  border-left: 20px solid var(--destaque);
}

.dstq{
  color: var(--destaque);
}

#projetos{
  width: 90vw;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--fundo-card);
}

.projeto{
  width: 90%;
  margin: auto;
  padding: 15px;
  text-align: left;
  border-radius: 15px;
  margin-bottom: 30px;
  border-left: 5px solid var(--destaque-inverso);
  background-color: var(--fundo-principal);
}

.projeto h2 , p{
  padding: 3px;
  color: var(--texto);
}

.projeto:hover{
  transition: .5s;
  border-left: 20px solid var(--destaque);
}

.projeto img{
  width: 100%;
  height: 65%;
}

a{
  text-decoration: none;
  color: var(--texto);
}

a:hover{
  border-bottom: 2px solid var(--texto);
}